@use '../../styles/variables.scss' as *;

.last-profile {
    background-color: var(--bg-primary);
    min-height: 100vh;
    padding-top: 15px;
    padding-bottom: 20px;

    &__logo {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 100px;
    }

    &__container {
        max-width: 1652px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &__header {
        display: none;
    }
}

.only_mobile {
    display: none;
}

.mobile_hidden {
    display: block;
}

@media (max-width: 1520px) {
    .last-profile__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

// Make sure the 'mobile' mixin is defined in your variables or mixins file
@include mobile {
    .last-profile__left__title {
        font-size: 24px;
        line-height: 1.3;
        margin-top: 12px;
    }

    .last-profile__left__row {
        flex-wrap: wrap;
    }

    .last-profile__left__row__info__text,
    .last-profile__left__row__text {
        font-size: 16px;
    }
}

@media (max-width: 520px) {
    .last-profile {
        background-image: url(../../assets/background/pubgImg_mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .last-profile-bg {
        background: linear-gradient(0deg, #161616, #161616),
            linear-gradient(360deg,
                rgba(22, 22, 22, 0.2) 48.36%,
                rgba(121, 33, 209, 0.2) 100%);
        background-blend-mode: overlay;
    }

    .last-profile__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        gap: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .mobile_hidden {
        display: none;
    }

    .only_mobile {
        display: block;
    }

    .last-profile__logo {
        margin-left: 0;
        margin-right: -20px;
        margin-bottom: 0;
        width: 35px;
        height: 25px;
    }


    .last-profile__header__close_button{
        background-color: transparent;
        border: none;

    }

    .last-profile__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        max-width: 1652px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 14px;
    }

    .last-profile__header__text {
        @include font-base;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        color: #fff;
        max-width: 200px;
        margin-left: 20px;
    }
}
