@import '../../styles/variables';

.profile__left {
    max-width: 1106px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--color-border);
    padding: 30px;




    &__bottom__text {
        max-width: 300px;
        @include font-base;
        font-size: 20px;
        line-height: 130%;
        color: var(--color-primary);
    }


    &__img {
        display: flex;
        border-radius: 10px;
        margin-bottom: 20px;
        width: 100%;
        object-fit: cover;
    }

    &__title {
        @include font-base;
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 23px;
        color: var(--color-primary);
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 23px;

        &__text {
            @include font-base;
            font-size: 20px;
            line-height: 130%;
            margin-right: 20px;
            color: var(--color-primary);
        }

        &__info {
            padding: 6px 14px;
            background-color: var(--bg-secondary);
            border: 2px solid var(--color-accent);
            display: flex;
            align-items: center;
            gap: 13px;
            border-radius: 10px;
            @include font-base;
            font-size: 20px;
            line-height: 130%;
            color: var(--color-primary);
        }
    }
}

// Small mobile breakpoint
@media (max-width: 520px) {
    .profile__left {
        padding: 0;
        position: relative;
        border: none;


        &__bottom__text {
            max-width: 265px;
            @include font-base;
            font-size: 20px;
            line-height: 130%;
            color: var(--color-primary);
        }

        &__img {
            margin-bottom: 0;
            height: 159px;
            border-radius: 4px;
        }

        &__title {
            font-size: 20px;
            text-align: center;
            color: #A852FF;
            margin-top: 12px;
            margin-bottom: 8px;
        }

        &__row {
            position: absolute;
            top: 122px;
            left: 50%;
            transform: translateX(-50%);
            //   flex-wrap: nowrap;
            justify-content: center;
            display: flex;
            width: 100%;
            margin-bottom: 0;

            &__text {
                text-align: center;
                font-size: 14px;
            }

            &__info {
                padding: 5px 9px;
                gap: 5px;

                &__text {
                    font-size: 14px;
                    line-height: 18px;
                }

                >svg {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}
