@use './variables.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.default-hover-active {
    transition: all;
    transition-duration: .3s;

    &:hover {
        opacity: .7;
    }

    &:active {
        opacity: .5;
    }
}
