// components/UI/Button/Button.scss

@use '../../../styles/variables' as *;

.button {
    @include font-base;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: all var(--transition-default);
    margin-bottom: 5px;
    @include flex-center;

    // Base size - medium
    &--medium {
        font-size: 20px;
        line-height: 100%;
        padding: 12px 24px;

        @include mobile {
            font-size: 14px;
            padding: 10px 20px;
        }
    }

    // Small size
    &--small {
        font-size: 16px;
        line-height: 100%;
        padding: 8px 16px;

        @include mobile {
            font-size: 12px;
            padding: 6px 12px;
        }
    }

    // Large size
    &--large {
        font-size: 24px;
        line-height: 100%;
        padding: 16px 32px;

        @include mobile {
            font-size: 18px;
            padding: 14px 28px;
        }
    }

    // Primary variant
    &--primary {
        background-color: var(--color-accent); // Assumes #7921D1
        color: var(--color-primary);

        &:hover:not(.button--disabled) {
            background-color: #A852FF; // Solid color for smooth transition
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        &:active:not(.button--disabled) {
            background-color: #540A9D;
            transform: translateY(0);
            box-shadow: none;
        }
    }

    // Secondary variant
    &--secondary {
        background-color: transparent;
        color: var(--color-primary);
        border: 2px solid #7921D1;


        &:hover:not(.button--disabled) {
            border-color: #A852FF;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        &:active:not(.button--disabled) {
            border-color: var(--color-accent);
            transform: translateY(0);
            box-shadow: none;
        }
    }

    // Full width
    &--full-width {
        width: 100%;
    }

    // Disabled state
    &--disabled {
        opacity: 0.7;
        cursor: not-allowed;
        transform: none !important;
    }
}
