@use '../../../styles/variables' as *;

.secound-profile__right {
    max-width: 432px;


    &__title {
        @include font-base;
        font-size: 40px;
        line-height: 130%;
        color: var(--color-primary);
        text-align: center;
        margin-bottom: 78px;
    }


    .second-profile__left__row__text__2 {
        @include font-base;
        font-size: 14px;
        line-height: 130%;
        color: var(--color-primary);
        text-align: center;
        margin-top: 78px;
        margin-bottom: 25px;
    }

    &__or_text {
        @include font-base;
        font-size: 20px;
        line-height: 100%;
        color: var(--color-secondary);
        text-align: center;
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .queue-info {
        width: 100%;
        max-width: 350px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 43px;

        .queue-info__item {
            max-width: 160px;
            display: flex;
            flex-direction: column;

            .queue-info__value {
                @include font-base;
                color: var(--color-primary);
                font-weight: 500;
                font-size: 60px;
                line-height: 130%;
                text-align: center;
            }

            .queue-info__label {
                @include font-base;
                color: var(--color-primary);
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                text-align: center;
            }
        }
    }

}

// Small mobile breakpoint
@media (max-width: 520px) {
    .secound-profile__right__title {
        font-size: 20px;
        margin-bottom: 0;
    }

    .secound-dropdown {
        margin-bottom: 10px;
        max-height: 17px;

        &_active {
            max-height: 270px;
        }

        &__header__text {
            font-size: 14px;
        }

        &__icon__bg {
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            padding: 7px 5px;
        }

        &__content__text {
            font-size: 14px;
        }
    }

    .secound-profile__right__or_text {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .secound-profile__right {
        width: 100%;
    }

    .secound-order-form {
        width: 100%;
    }
}


// Mobile Adaptive design
.desctop-second-profile__left {
//     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        margin-bottom: 78px;
    }

    .desctop-second-profile__left__title {
        margin-top: 12px;
        font-size: 20px;
        text-align: center;
        color: #A852FF;
        margin-top: 12px;
        line-height: 130%;
        margin-bottom: 8px;
    }

    .desctop-second-profile__left__row__text {
        @include font-base;
        font-size: 20px;
        line-height: 130%;
        margin-right: 0;
        color: var(--color-primary);
        margin-top: 8px;
        display: none
    }

    .desctop-second-profile__left__row__text__2 {
        @include font-base;
        font-size: 20px;
        line-height: 130%;
        margin-right: 0;
        color: var(--color-primary);
        margin-top: 8px;
        text-align: center;
        margin-bottom: 20px;
    }


    .desctop-second-profile__left__row__text__link {
        @include font-base;
        font-size: 20px;
        line-height: 130%;
        margin-right: 0;
        color: var(--color-accent);
        margin-top: 8px;
        text-decoration: none;
        margin-bottom: 20px;
    }

    .desctop-second-profile__left__row {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 0;
    }
}

// Small mobile breakpoint
@media (max-width: 520px) {
    .desctop-second-profile__left {
        .desctop-second-profile__left__row__text__2 {
            font-size: 14px;
            width: 100%;
        }
    }
        .desctop-second-profile__left {
        display: none;
    }
}


// Mobile Adaptive design
.mobile-second-profile__left {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 18px;
    margin-top: 0px;


    .second-profile__left__title {
        margin-top: 12px;
        font-size: 20px;
        text-align: center;
        color: #A852FF;
        margin-top: 12px;
        line-height: 130%;
        margin-bottom: 8px;
    }

    .second-profile__left__row__text {
        @include font-base;
        font-size: 14px;
        line-height: 130%;
        margin-right: 0;
        color: var(--color-primary);
        margin-top: 8px;
    }

    .second-profile__left__row__text__2 {
        @include font-base;
        font-size: 14px;
        line-height: 130%;
        margin-right: 0;
        color: var(--color-primary);
        margin-top: 8px;
        text-align: center;
    }


    .second-profile__left__row__text__link {
        @include font-base;
        font-size: 14px;
        line-height: 130%;
        margin-right: 0;
        color: var(--color-accent);
        margin-top: 8px;
        text-decoration: none;
    }

    img {
        margin-bottom: 18px;
    }

    .second-profile__left__row {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 0;

    }
}

// Small mobile breakpoint
@media (max-width: 520px) {
    .second-profile__left {
        display: none;
    }

    .mobile-second-profile__left {
        display: flex;

        .second-profile__left__row__text {
            margin-bottom: 28px;
        }
    }

    .desctop-second-profile__left {
        img {
            margin-bottom: 28px;
        }
        align-items: end;
    }
}
