@use '../../styles/variables' as *;

.secondProfile__left {
    max-width: 1106px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--color-border);
    padding: 30px;
    margin-top: 120px;

    &__img {
        display: flex;
        border-radius: 10px;
        margin-bottom: 20px;
        width: 100%;
        object-fit: cover;
    }

    &__img1 {
        position: absolute;
        top: -0;
        left: 0;

        display: none;
        border-radius: 10px;
        margin-bottom: 20px;
        width: 100%;
        height: 340px;
        background-position: center;
        object-fit: cover;
        background: linear-gradient(180deg, rgba(22, 22, 22, 0) 78.5%, var(--bg-primary) 93.46%);
    }

    &__title {
        @include font-base;
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 23px;
        color: var(--color-primary);
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 23px;
        flex-wrap: wrap;

        &__text {
            @include font-base;
            font-size: 20px;
            line-height: 130%;
            margin-right: 20px;
            color: var(--color-primary);
            //   margin-top: 50px;
        }

        &__info {
            padding: 6px 14px;
            background-color: var(--bg-secondary);
            border: 2px solid var(--color-accent);
            display: flex;
            align-items: center;
            gap: 13px;
            border-radius: 10px;
            @include font-base;
            font-size: 20px;
            line-height: 130%;
            color: var(--color-primary);
        }
    }

    &__bottom__text {
        max-width: 265px;
        @include font-base;
        font-size: 20px;
        line-height: 130%;
        color: var(--color-primary);
    }
}

@media (max-width: 520px) {
    .secondProfile__left {
        padding: 0;
        border: none;

        &__img {
            display: none;
        }

        &__img1 {
            display: block;
            height: 340px;
            border-radius: 4px;
        }

        &__title {
            font-size: 20px;
            text-align: center;
            color: var(--color-accent-light);
            margin-bottom: 8px;
            margin-top: 100px;
            position: relative;
            z-index: 10;
        }

        &__row {
            transform: translateY(-130px);
            flex-wrap: nowrap;
            margin-left: auto;
            margin-right: auto;
            max-width: 314px;
            width: 100%;
            margin-bottom: 0;

            &__text {
                text-align: center;
                font-size: 14px;
            }

            &__info {
                padding: 5px 9px;
                gap: 5px;

                &__text {
                    font-size: 14px;
                    line-height: 18px;
                }

                >svg {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}



@media (max-width: 460px) {
    .secondProfile__left {
        &__row {
            transform: translateY(-160px);
        }

        &__img {
            margin-bottom: 100px;
        }

        // &__title {
        //     margin-top: 120px;
        // }
    }
}
