@use '../../../styles/variables' as *;

.steam__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary);
    border: 2px solid var(--color-accent);
    border-radius: 10px;
    padding: 12px;
    gap: 14px;
    margin-bottom: 64px;
    cursor: pointer;
    transition:
        background-color 0.2s,
        border-color 0.2s,
        box-shadow 0.2s,
        transform 0.1s;

    &__text {
        @include font-base;
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        color: var(--color-primary);
        transition: color 0.2s;
    }

    &:hover:not(.button--disabled) {
        border-color: #A852FF;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    &:active:not(.button--disabled) {
        border-color: var(--color-accent);
        transform: translateY(0);
        box-shadow: none;
    }
}

// Small mobile breakpoint
@media (max-width: 520px) {
    .steam__btn {
        padding: 11px;
        border-radius: 4px;

        &__text {
            font-size: 14px;
            line-height: 17px;
        }
    }
}
